{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h2 style="display: flex; justify-content: center; ">{{ message }}</h2>
<!--    <p style="text-align:center;"><img  src="{% static 'cat_for_homepage.png' %}" style="max-width: 220px; max-height: 220px" align="center"></p>-->
    <hr>
    {% if user.is_authenticated %}
    <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'select_category' %}">Кликни, чтобы начать</a>

    <br>
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
        <button class="btn btn-warning btn-sm mt-1 mb-1" type="submit">Выйти</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}" class="btn btn-outline-info">Войти</a> |
        <a href="{% url 'register' %}" class="btn btn-outline-info">Зарегистрироваться</a>
    {% endif %}


{% endblock %}