{% extends 'base.html' %}

{% load static %}

{% block content %}
    <h2 style="display: flex; justify-content: center; ">Привет, это конвертер размеров</h2>
    <p style="text-align:center;"><img  src="{% static 'cat_for_homepage.png' %}" style="max-width: 220px; max-height: 220px" align="center"></p>
    <hr>

    <a class="btn btn-success btn-sm mt-1 mb-1" href="{% url 'select_category' %}">Кликни, чтобы начать</a>

    <br>
        <form method="POST" action="{% url 'logout' %}">
            {% csrf_token %}
        <button class="btn btn-warning btn-sm mt-1 mb-1" type="submit">Выйти</button>
        </form>
 <table>
  {% if searches %}
     <caption style="caption-side: top; text-align: center;">Вы недавно искали:</caption>
     <thead>
        <tr>
            <th style="background-color:grey; padding:5px 5px 5px 5px;">Категория поиска</th>
            <th style="background-color:lightgrey; padding:5px 5px 5px 5px;">Исходная система измерения</th>
            <th style="background-color:grey; padding:5px 5px 5px 5px;">Исходный размер</th>
            <th style="background-color:lightgrey; padding:5px 5px 5px 5px;">Искомая система измерения</th>
            <th style="background-color:grey; padding:5px 5px 5px 5px;">Искомый размер</th>
        </tr>
     </thead>
     <tbody>
        {% for search in searches %}
        <tr>
            <td style="text-align: center; background-color:silver; padding:5px 5px 5px 5px;"> {{ search.category }} </td>
            <td style="text-align: center; padding:5px 5px 5px 5px;">  {{ search.input_measure }} </td>
            <td style="text-align: center; background-color:silver; padding:5px 5px 5px 5px;">  {{ search.input_size }} </td>
            <td style="text-align: center; padding:5px 5px 5px 5px;">  {{ search.output_measure }} </td>
            <td style="text-align: center; background-color:silver; padding:5px 5px 5px 5px;">  {{ search.output_size }} </td>
        </tr>
        {% endfor %}
     </tbody>
     {% endif %}
  </table>
{% endblock %}